body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.logo{
    height: 40px;
}

h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.card {
    display: flex;
    align-items: center;
    background-color: white;
    width: 461px;
    height: 69px;
    padding: 4px 25px;
    border-radius: 225px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 106px;
}

.round {
    height: 70px;
    width: 70px;
}

.item {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: auto;
}


.title {
    grid-column-start: 1;
    grid-column-end: 6;

}

.button {
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: space-between;
}

.frame01 {
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.frame02 {
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: space-around;
}

.frame03 {
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;

}

.button2{
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: flex-end;
}

.social {
    grid-column-start: 1;
    grid-column-end: 6;
    display: flex;
    justify-content: space-between;

}

.img1 {
    width: 204px;
    height: 61px;
    top: 40px;
    left: 31px;
    margin: 40px 30px 10px;
}

.card1 {
    display: flex;
    width: 400px;
    top: -13px;
    left: 454px;
    padding: 24px;
    gap: 56px;
    border-radius: 50px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px 0px #29292A12;
    margin-left: 250px;

}

.title01 {
    width: 450px;
    height: 84px;
    top: 157px;
    left: 109px;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    color: #000000;
    margin: 60px 100px;

}

.card2 {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-left: 80px;
    margin-bottom: 50px;
}

.btn1 {
    width: 123px;
    height: 73px;
    top: 268px;
    left: 112px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 37px;
    background: #E6E6E6;
    border-color: #E6E6E6;
    background: #E6E6E6;
    border: 1px solid #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #000000;
}

.btn2 {
    width:164px;
    height:73px;
    top: 268px;
    left: 253px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 37px;
    border: 1px solid #c7c2c2;
    color: 1px;
    background: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #a9aebf;

}

.btn3 {
    width: 154px;
    height: 63px;
    top: 268px;
    left: 1183px;
    padding: 15px 30px 15px 30px;
    gap: 10px;
    border-radius: 37px;
    border: 1px 0px 0px 0px;
    border: 1px solid #FE5000;
    margin-right: 80px;
    background-color: #ffffff;
    color: #FE5000;

}


.img8 {
    width: 336px;
    height: 186px;
    top: 366px;
    left: 109px;
    border-radius: 4.73px;
}

.img9 {
    width: 336px;
    height: 186px;
    top: 367px;
    left: 552px;
    border-radius: 4.73px;
}

.img10{
    width: 336px;
    height: 186px;
    top: 367px;
    left: 1008px;
    border-radius: 4.73px;
}

.img11 {
    width: 330px;
    height: 130px;
    top: 566px;
    left: 109px;
    border-radius: 4.73px;
}

.img12 {
    width: 336px;
    height: 186px;
    top: 566px;
    left: 552px;
    border-radius: 5px;
}

.img13 {
    width: 336px;
    height: 186px;
    top: 567px;
    left: 1008px;
    border-radius: 4.73px;
}

.img14 {
    width: 336px;
    height: 186px;
    top: 10px;
    left: 90px;
    border-radius: 4.73px;
    opacity: 100px;
    position: relative;

}

.btn4 {
    width: 150px;
    height: 58px;
    top: 627px;
    left: 108px;
    padding: 15px 10px 15px 50px;
    gap: 10px;
    border-radius: 37px;
    border: 1px;
    background: #FE5000;
    border: 1px;
    margin: 10px;
    margin-right: 80px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 20px;

}


.img3 {
    width: 32px;
    height: 32px;
    top: 945px;
    left: 49px;
}

.img4 {
    width: 32px;
    height: 32px;
    top: 948px;
    left: 101px;
}

.img5 {
    width: 32px;
    height: 32px;
    top: 948px;
    left: 153px;
}

.img6 {
    width: 32px;
    height: 32px;
    top: 948px;
    left: 198px;
}

h6 {
    width: 140px;
    height: 22px;
    top: 958px;
    left: 600px;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
    color: #747070;
}

.card3 {
    width: 200px;
    display: flex;
    justify-content:space-around;
}